<div class="entire">

<p>
  <body>
  About HOTEL INDRA
<div class="overview">
<br>Overview<br>
</div>
<br>HOTEL INDRA PALACE is a good choice for travellers looking for a budget accomodation in Katni. It is located in Gole Bazar. Hotel is rated 3.4 out of 5, which is considered as average.

From all the Budget hotels in Katni, HOTEL INDRA  is very much popular among the tourists. A smooth check-in/check-out process, flexible policies and friendly management garner great customer satisfaction for this property. The Hotel has standard Check-In time as 12:00 PM and Check-Out time as 12:00 PM.
<div class="think">
<br>What our guests think<br>
</div>
<br>77% of the guests have recommended HOTEL INDRA P on our platform. Good service quality and nice location are some highly appreciated and talked about aspects of the HOTEL INDRA. With an overall rating of 3.4 out of 5 (251 Ratings), the property is rated very good by 21% of the guests, 30% have rated it good, 25% have rated it average and 24% have rated it as bad. Also, we recommend that guests must go through traveller reviews and ratings posted by fellow travellers on the Goibibo platform to ensure that HOTEL INDRA PALACE is best suited for them. For more detailed information about this hotel, you can check the Questions & Answers section as well on Goibibo. There you can find the answers of the questions asked by some of our users about this property.
In terms of Location 66% people like the location of HOTEL INDRA PALACE. Out of which 79% guest said property is Easy to Locate. and 47% said that property is Easily Accessible. Safety And Hygiene is the top priority for the HOTEL INDRA  with score 38%. HOTEL INDRA  provides a top class Service Quality as 68% guest liked it. 85% guests like the Room Service quality. 59% guests like the Reception Area of the HOTEL INDRA PALACE. Also 61% guests of HOTEL INDRA PALACE liked the Laundry Service of the hotel. Overall Food of HOTEL INDRA is liked by the 59% guests. HOTEL INDRA PALACE Amenities are liked by the 62% of guest. Restaurant is liked by the 59% guests. The HOTEL INDRA PALACE also provide parking to their guest. Overall score for the parking amenity is 46%. Also 61% guest said that Television was working in their rooms.
You can find numerous hotels in Katni under different categories and HOTEL INDRA PALACE is one the best hotel under its category.
</body>
</p>
</div>