<h1 class="bg-primary text-white">HOTEL SERVICES</h1>
<div>
  

  <form class="form-inline">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Drinks</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">Tea</option>
      <option value="2">Coffee</option>
      <option value="3">Milk</option>
      <option value="4">Juice</option>
      <option value="5">Cold Drinks</option>
      <option value="6">Mineral Water</option>
      <option value="7">None</option>
    </select>


    <br>
    <br>

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Food</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">Veg Meal</option>
      <option value="2">Non-Veg Meal</option>
      <option value="3">Biryani</option>
      <option value="4">Curd Rice</option>
      <option value="5">None</option>
    </select>
    <br>
    <br>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Cleaning</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">Room Cleaning</option>
      <option value="2">Utensil Cleaning</option>
      <option value="3">Cloths Cleaning</option>
      <option value="4">Bedsheet Cleaning</option>
      <option value="5">Washroom Cleaning</option>
      <option value="6">None</option>
    </select>
    <br>
    <br>
    <div class="custom-control custom-checkbox my-1 mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="customControlInline">
      <label class="custom-control-label" for="customControlInline">Remember my preference</label>
    </div>
  
    <button type="submit" class="btn btn-primary my-1">Submit</button>
  </form>
  
</div>