<div class="image">
<div class="form-box">
  <h1>LOGIN</h1>
<form [formGroup]="loginform" (ngSubmit)="mylogin()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    <div *ngIf="loginform.controls.email.touched && loginform.controls.email.invalid">
      <small *ngIf="loginform.controls.email.errors.required" style="color:red">Email is Required</small>
  </div>
  </div>
  <div class="form-group">
    <br><label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pwd">
    <div *ngIf="loginform.controls.pwd.touched && loginform.controls.pwd.invalid">
      <small *ngIf="loginform.controls.pwd.errors.required" style="color:red">Password is Required</small>
  </div>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label><br>
  </div>

  <br><button type="submit" class="sucess">LOGIN</button>
  <br>
  <br><a style="color: rgb(18, 109, 4);" routerLink='../register'>New user! Click to register</a>
</form>
</div>
</div>