<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HOTEL INDRA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../login"  href="#">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../register" href="#">REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../about" href="#">ABOUT US</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
               <div class="col-md-12">
                 
  <img [src]="myimage" alt="Page is Loading..."/>
              </div>
 </div>

</div>
<!-- Footer -->
<footer class="page-footer font-small blue bg-dark text-white">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Group F
    <br><a href="/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->