<h2 style="text-align: center;">{{title1}}</h2>
<html lang="en">
<head>
      
</head>

<body>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">EMPLOYEE ID</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="enter employee id">
    <br><br>
    <label for="exampleFormControlInput1" class="form-label"> EMPLOYEE NAME</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="enter employee name">
    <br>
    <br>
    <label for="exampleFormControlInput1" class="form-label">EMPLOYEE SALARY</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="enter employee salary ">
    <br>
    <br>
    <label for="exampleFormControlInput1" class="form-label">CONTACT DETAILS</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="enter contact details">
  </div>
  <p id="demo"></p>
  
  <button type="button" onclick='document.getElementById("demo").innerHTML = "ADDED SUCCESSFUL"'>ADD</button>
</body>
