<div class="image">
  <div class="form-box">
      <h1>BOOKING</h1>
  
  <form [formGroup]="myform" (ngSubmit)="login()">
     
    <div class="form-group">
      <label for="number">ID</label>
      <input type="number" class="form-control" id="number"  formControlName="number">
      <small *ngIf="number.invalid && number.touched" style="color:red">*ID Required</small>
    </div>
    
    <div class="form-group">
        <label for="name">NAME</label>
        <input type="text" class="form-control" id="name"  formControlName="name">
        <small *ngIf="name.invalid && name.touched" style="color:red">*Name is Required(max 10 chars are allowed)</small>
     </div>
      
  
      <div class="form-group">
        <label for="checkin">CHECK IN</label>
        <input type="date" class="form-control" id="checkin" formControlName="checkin">
       <small *ngIf="checkin.invalid && checkin.touched" style="color:red">*CheckIn Required</small>
      </div>
  
      <div class="form-group">
          <label for="checkout">CHECK OUT</label>
          <input type="date" class="form-control" id="checkout" formControlName="checkout">
          <small *ngIf="checkout.invalid && checkout.touched" style="color:red">*CheckOut Required</small>
        </div>
        
  
      <div class="form-group">
          <label for="norooms">NUMBER OF ROOMS</label>
          <input type="number" class="form-control" id="norooms" formControlName="norooms">
          <small *ngIf="norooms.invalid && norooms.touched" style="color:red">*Number of Rooms Required</small>
        </div>
        
  
        <div class="form-group">
          <label for="noadults">NUMBER OF ADULTS</label>
          <input type="number" class="form-control" id="noadults" formControlName="noadults">
          <small *ngIf="noadults.invalid && noadults.touched" style="color:red">*Number of Adults Required</small>
        </div>
      
  
        <div class="form-group">
          <label for="nochildren">NUMBER OF CHILDREN</label>
          <input type="number" class="form-control" id="nochildren" formControlName="nochildren">
         <small *ngIf="nochildren.invalid && nochildren.touched" style="color:red">*Number of Children Required</small>
        </div>
        
  
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
          <small *ngIf="email.invalid && email.touched" style="color:red">*Email is Required</small>
        </div>
        
  
        <div class="form-group">
          <label for="number">MOBILE NUMBER</label>
          <input type="number" class="form-control" id="number" formControlName="number">
          <small *ngIf="number.invalid && number.touched" style="color:red">*Number Required</small>
        </div>
      
     
      <br><button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>