<h2 style="text-align: center; background-color: aquamarine;">{{title}}</h2>
<html lang="en">
<head>
    <style>
        header{
            background-color:black;
            color: rgb(212, 16, 16);
        }
        
        
        body{
           
            color: cornsilk;
        }
        
    </style>    
</head>

<body>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">CUSTOMER NAME :</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="enter your name">
  </div><br>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"> MOBILE NUMBER :</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="enter your  number">
  </div><br>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">CUSTOMER ADDRESS :</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="enter your Address">
  </div><br>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"> ID PROOF :</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="enter your Governement ID number">
  </div><br>
  <p id="demo"></p>
  
  <button type="button" onclick='document.getElementById("demo").innerHTML = "CUSTOMER IS REGISTERED"'>REGISTER</button>
</body>
