<h1 class="bg-primary text-white">ROOMS</h1>
<div>
  

  <form class="form-inline">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">FLOOR</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">Ground</option>
      <option value="2">First</option>
      <option value="3">Second</option>
      <option value="4">Third</option>
      <option value="5">Last</option>
    </select>


    <br>
    <br>

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">NUMBER</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">101</option>
      <option value="2">102</option>
      <option value="3">103</option>
      <option value="4">104</option>
      <option value="5">105</option>
    </select>
    <br>
    <br>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">TYPES</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>Choose...</option>
      <option value="1">Single Bedroom</option>
      <option value="2">Double Bedroom</option>
      <option value="3">AC</option>
      <option value="4">Non AC</option>
    
    </select>
    <br>
    <br>
    <div class="custom-control custom-checkbox my-1 mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="customControlInline">
      <label class="custom-control-label" for="customControlInline">Remember my preference</label>
    </div>
  
    <button type="submit" class="btn btn-primary my-1">Submit</button>
  </form>
</div>