<h2>HOTEL ROOMS</h2>
<div>
  <body>
    <p>Total Number of Rooms = 100</p>

    <div>
    <p id="demo"></p>
    <button type="button" onclick='document.getElementById("demo").innerHTML ="Available Room is 50"'>AvailableRooms</button>
      
      </div>

    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit()" >
      <div class="form-row">
          <div class="col-md-2 mb-3">
            <label>Room Number</label>
            <input type="text" name="roomno" class="form-control" [(ngModel)]="room.roomNo" #roomno="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && roomno.invalid }" required>
              <div class="invalid-feedback" *ngIf="userForm.submitted && roomno.invalid">
                <p *ngIf="roomno.errors.required">Room no is required</p>
              </div>
          </div>
          <br>
          <div class="col-md-2 mb-3">
            <label>Room Type</label>
            <select class="form-control" name="roomtype" [(ngModel)]="room.roomType" required>
              <option value="NON-AC">NON-AC</option>
              <option value="AC">AC</option>
              <option value="DELUX">DELUX</option>
            </select>
          </div>
          <br>
          <div class="col-md-2 mb-3">
            <label>Room Price</label>
            <input type="text" name="price" class="form-control" [(ngModel)]="room.price" #price="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && roomno.invalid }" required>
              <div class="invalid-feedback" *ngIf="userForm.submitted && roomno.invalid">
                <p *ngIf="roomno.errors.required">Room price is required</p>
              </div>
          </div>
      </div>
    <br>
      <div class="form-row col-md-2">
          <button class="btn btn-danger btn-block">Submit</button>
      </div>
    </form>
  
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

   </body>
</div>


<router-outlet></router-outlet>